HOST=localhost
DBPORT=<port>
DATABASE=<db_name>
USER=<username>
PASSWORD=<password>
SID=xe
PORT=3000
VITE_OPENWEATHER_API_KEY=your_vite_openweather_api_key
FOURSQUARE_API=your_foursquare_api_key
GOOGLE_PLACE_API=your_google_place_api_key
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/mydatabase
