PORT=5001
CONNECTION_STRING=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/mydatabase
ACCESS_SECRET_TOKEN=your_access_secret_token
FOURSQUARE_API=your_foursquare_api_key
GEOCODE_API=your_geocode_api_key
OPENWEATHER_API_KEY=your_openweather_api_key
NOAA_TOKEN=your_noaa_token
